extends layout

block content		

	.container-fluid(style="margin-top: 5em")
		.row
			nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded-sidebar(style="position: fixed")
				ul.nav.nav-pills.flex-column
					li.nav-item
						a.nav-link.active(href="#") Overview
							span.sr-only (current)
					li.nav-item
						a.nav-link(href="#") Reports
					li.nav-item
						a.nav-link(href="#") Analytics
					li.nav-item
						a.nav-link(href="#") Export
				
				ul.nav.nav-pills.flex-column
					li.nav-item
						a.nav-link(href="#") Nav item
					li.nav-item
						a.nav-link(href="#") Nav item again
					li.nav-item
						a.nav-link(href="#") Nav item again again
					li.nav-item
						a.nav-link(href="#") Another nav item

				ul.nav.nav-pills.flex-column
					li.nav-item
						a.nav-link(href="#") Nav item
					li.nav-item
						a.nav-link(href="#") Nav item again
					li.nav-item
						a.nav-link(href="#") Nav item again again
					li.nav-item
						a.nav-link(href="#") Another nav item
					
			main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
				h1 Dashboard
				section.row.text-center.placholders
					.col-6.col-sm-3.placeholder
						img.img-fluid.rounded-circle(src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=")
						h4 Label
						.text-muted Something else
					.col-6.col-sm-3.placeholder
						img.img-fluid.rounded-circle(src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=")
						h4 Label
						.text-muted Something else
					.col-6.col-sm-3.placeholder
						img.img-fluid.rounded-circle(src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=")
						h4 Label
						.text-muted Something else
					.col-6.col-sm-3.placeholder
						img.img-fluid.rounded-circle(src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=")
						h4 Label
						.text-muted Something else

				h2 Section title
					.table-responsive
						table.table.table-striped
							thead
								tr
									th #
									th Header
									th Header
									th Header
									th Header
							tbody
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit
								tr
									td 1,001
									td Lorem
									td ipsum
									td dolor
									td sit